@import '../../shared/globals';

#news-wrapper {
  padding: 25px;

  .app-card-wrapper {
    margin-bottom: 25px;
  }

  .app-card-content {
    height: 95%;
    overflow: auto;
  }

  td {
    width: 50%;
  }

  #old-toggle {
    cursor: pointer;
    text-align: center;
    margin-top: 10px !important;

    &:hover {
      text-decoration: underline;
    }
  }
}